/*A custom Google font for highlights
A specified standard san-serif web font for data (such as Arial, Verdana, or Helvetica)
A specified standard serif web font for text (such as Georgia, Times, etc.)
Specified different font colors for all three font usages
A background color for the default page background (make sure font colors have good contrast and are readable on this background)
A different background color for elements such boxes and tables (so make sure the font colors contrast against this well, too!)
Anything else you'd like to add related to style. But remember: simplicity, clarity, and consistency are good things in design.*/
body{
  font-family: 'Poiret One', cursive;
  background-color: #CBCED3;
}
header{
  font-size: 30px;
  font-weight:bolder;
}
h1{
  font-size: 100px;
}
h2{
  font-size: 40px;
}
nav{
  font-size: 25px;
}
p{
  font-size: 30px;
}
#storeName{
  background-color: #FFF5D2;
}
#navBar{
  background-color: #A5BEDB;
}
#about{
  background-color: #FFECE1;
}
#data{
  background-color: white;
}
#footNav{
  background-color: #A5BEDB;
}
